In [1]:
rand_nums = [-6, 8, -8, -2, -7, -3, 2, 4, 3, 0]

In [2]:
rand_nums[:3]

[-6, 8, -8]

In [4]:
sorted(rand_nums, reverse = True)

[8, 4, 3, 2, 0, -2, -3, -6, -7, -8]

In [6]:
rand_nums.sort()

In [12]:
rand_nums

[-8, -7, -6, -3, -2, 0, 2, 3, 4, 8]

In [14]:
sorted(rand_nums, reverse = True)

[8, 4, 3, 2, 0, -2, -3, -6, -7, -8]

In [15]:
cities = [
    {'name': 'nyc', 'pop': 8000000},
    {'name': 'chicago', 'pop': 2000000},
    {'name': 'la', 'pop': 4000000}
]

In [24]:
sorted(cities, key= lambda city: city['name'], reverse = True)

[{'name': 'nyc', 'pop': 8000000},
 {'name': 'la', 'pop': 4000000},
 {'name': 'chicago', 'pop': 2000000}]

In [25]:
names = ['bob', 'sally', 'fred']

ages = [10, 6, 15]

In [28]:
names_and_ages = list(zip(names, ages))
names_and_ages

[('bob', 10), ('sally', 6), ('fred', 15)]

In [30]:
bob = names_and_ages[0]

In [33]:
bob[1]

10

In [38]:
names_and_ages

[('bob', 10), ('sally', 6), ('fred', 15)]

In [43]:
sorted(names_and_ages, key = lambda name_and_age: name_and_age[1])

[('sally', 6), ('bob', 10), ('fred', 15)]

In [35]:
def find_age(elem):
    return elem[1]

In [42]:
[name_and_age[1] for name_and_age in names_and_ages]

[10, 6, 15]

In [ ]:
(, ) > ()