### Exploring Data

In [1]:
cities = [{}]

In [ ]:
city_names = []

In [ ]:
for city in cities:
    city_name = city['City']
    city_names.append(city_name)

In [ ]:
city_names = [city['City'] for city in cities]

# reducing by that attribute value

# {'':'', ''}

# 'chicago '

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population"

In [4]:
import pandas as pd

In [6]:
tables = pd.read_html(url)

city_df = tables[4]

cities = city_df.to_dict('records')

In [35]:
[dict(zip(['name', 'population'], 
          (city['City'], city['2019estimate']))) 
 for city in cities if city['2019estimate'] > 2_000_000]

# list(map(lambda city: city['2019estimate'], cities))

[{'name': 'New York City[d]', 'population': 8336817},
 {'name': 'Los Angeles', 'population': 3979576},
 {'name': 'Chicago', 'population': 2693976},
 {'name': 'Houston[3]', 'population': 2320268}]

In [11]:
top_cities = []
for city in cities:
    if city['2019estimate'] > 2_000_000: # True or False
        top_cities.append(city)

In [24]:
if []:
    print('this is truthy')
else:
    print('this is not truthy')

this is not truthy

In [14]:
[city for city in cities if city['2019estimate'] > 2_000_000]

[{'2019rank': 1,
  'City': 'New York City[d]',
  'State[c]': 'New York',
  '2019estimate': 8336817,
  '2010Census': 8175133,
  'Change': '+1.98%',
  '2016 land area': '301.5\xa0sq\xa0mi',
  '2016 land area.1': '780.9\xa0km2',
  '2016 population density': '28,317/sq\xa0mi',
  '2016 population density.1': '10,933/km2',
  'Location': '40°39′49″N 73°56′19″W\ufeff / \ufeff40.6635°N 73.9387°W'},
 {'2019rank': 2,
  'City': 'Los Angeles',
  'State[c]': 'California',
  '2019estimate': 3979576,
  '2010Census': 3792621,
  'Change': '+4.93%',
  '2016 land area': '468.7\xa0sq\xa0mi',
  '2016 land area.1': '1,213.9\xa0km2',
  '2016 population density': '8,484/sq\xa0mi',
  '2016 population density.1': '3,276/km2',
  'Location': '34°01′10″N 118°24′39″W\ufeff / \ufeff34.0194°N 118.4108°W'},
 {'2019rank': 3,
  'City': 'Chicago',
  'State[c]': 'Illinois',
  '2019estimate': 2693976,
  '2010Census': 2695598,
  'Change': '−0.06%',
  '2016 land area': '227.3\xa0sq\xa0mi',
  '2016 land area.1': '588.7\xa0km2',
  '2016 population density': '11,900/sq\xa0mi',
  '2016 population density.1': '4,600/km2',
  'Location': '41°50′15″N 87°40′54″W\ufeff / \ufeff41.8376°N 87.6818°W'},
 {'2019rank': 4,
  'City': 'Houston[3]',
  'State[c]': 'Texas',
  '2019estimate': 2320268,
  '2010Census': 2100263,
  'Change': '+10.48%',
  '2016 land area': '637.5\xa0sq\xa0mi',
  '2016 land area.1': '1,651.1\xa0km2',
  '2016 population density': '3,613/sq\xa0mi',
  '2016 population density.1': '1,395/km2',
  'Location': '29°47′12″N 95°23′27″W\ufeff / \ufeff29.7866°N 95.3909°W'}]