# Writing Small Functions -  Exploring Nan

In our labs on movies, we ran into some issues with `nan`.  `nan` stands for not a number, and it has some peculiarities about it.

We can create an nan with the following.

In [4]:
float('nan')

nan

One weird thing about `nan` is that it does not equal itself.

In [5]:
float('nan') == float('nan')

False

This is a choice made by the authors of Python, which emphasizes that we don't really know what this not-a-number value is - so we don't want to declare that one `nan` represents the same value as another `nan`.

### Replacing Nan

In our movies dataset, we have `nan`, when what perhaps we really mean is `'other'`.   Let's try to replace our `nan` with other.  To do so, let's break this problem into steps.

1. Solve the problem for a single genre.

Before first solving this problem of replacing all `nan` values with `other`, let's first solve this for a single value.

In [7]:
nan_val = float('nan')
action_val = 'action'
drama_val = 'drama'

Below write a function that determines if the argument is an `nan` value.

In [1]:
def is_nan(genre):
    pass

In [14]:
is_nan(nan_val)
# True

True

In [15]:
is_nan(action_val)
# False

False

In [16]:
is_nan(drama_val)
# False

False

### Replacing nan value

Next let's build on this function.  We'll write a function called `replace_nan` where:
* if the value passed through is `nan`, the function returns `'other'` 
* if the value passed through is not nan, returns the original genre value.

In [2]:
def replace_nan(value):
    pass

In [ ]:
replace_nan(value)

In [19]:
nan_val = float('nan')
action_val = 'action'
drama_val = 'drama'

In [20]:
replace_nan(nan_val)

'other'

In [21]:
replace_nan(action_val)

'action'

Finally, let's write a function that takes in a movie as a dictionary and, if the genre is `nan` replaces the movie's genre with `Other`.  It should return the dictionary.

In [3]:
non_nan_movie = {'title': 'Avatar',
  'genre': 'Action',
  'budget': 237000000,
  'runtime': 162.0,
  'year': 2009,
  'month': 12,
  'revenue': 2787965087}

nan_movie =  {'title': 'When Harry Met Sally',
  'genre': float('nan'),
  'budget': 237000000,
  'runtime': 162.0,
  'year': 1987,
  'month': 11,
  'revenue': 1787965000}

In [4]:
def replaced(dictionary):
    pass

### Replace for all

> Press shift + return on the cell below.

In [12]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/jigsawlabs-student/mod-1-a-data-structures/master/3-coercing-filtering-data/imdb_movies.csv')
movies = df.to_dict('records')

Now to see how problematic this data may be, let's write a function that selects the movie dictionaries that have an `nan` value for genre and returns them.

In [13]:
def nan_movies(movies):
    return []

In [14]:
len(nan_movies(movies))
# 84

0

Now that we have seen how to use our `is_nan` function, and we have already written a `replace_nan` function, let's write a function that loops through all of our dictionaries and replaces those with an `nan` value with the string of `'other'`.

In [5]:
import copy
def replace_nans(movies): 
    pass

In [43]:
new_movies = replace_nans(movies)

We can confirm that there are now no movies with a value of `nan`.

In [44]:
[movie for movie in new_movies if is_nan(movie['genre'])]
# []

[]

And that the we now have a collection of movies with a genre of `'other'`.

In [46]:
len([movie for movie in new_movies if movie['genre'] == 'other'])

84

### Summary

In this lesson, we learned about nan's and that checking the equality of two `nan` values returns false.  Then worked to write some functions to check for and replace these values.

We saw that by writing small functions, we can break our problem into steps, and also reuse some of our small functions.  We'll learn more about using functions in succeeding lessons.

### Resources

[nan in Python](https://towardsdatascience.com/navigating-the-hell-of-nans-in-python-71b12558895b)