# Coercing and Creating Strings

### Introduction

One of the reasons why programming skills are so essential is because data is rarely in the format that we prefer.  As burgeoning data scientists, it's our job to both think about the ideal way to represent our data.  Over the next several lessons, we'll learn how to do this.

### Loading Data

In [1]:
import pandas as pd
df = pd.read_json("https://data.texas.gov/resource/naix-2893.json")

In [3]:
df[:2]

,taxpayer_number,taxpayer_name,taxpayer_address,taxpayer_city,taxpayer_state,taxpayer_zip,taxpayer_county,location_number,location_name,location_address,...,inside_outside_city_limits_code_y_n,tabc_permit_number,responsibility_begin_date_yyyymmdd,obligation_end_date_yyyymmdd,liquor_receipts,wine_receipts,beer_receipts,cover_charge_receipts,total_receipts,responsibility_end_date_yyyymmdd
0,10505601194,"AIMBRIDGE CONCESSIONS, INC.",5851 LEGACY CIR STE 400,PLANO,TX,75024.0,43,5,HYATT HOUSE DALLAS/UPTOWN,2914 HARRY HINES BLVD,...,Y,MB884961,2014-09-24T00:00:00.000,2016-06-30T00:00:00.000,2201,762,1663,0,4626,NaN
1,32043765935,SUPER CREAM LLC,1014 FM 802,BROWNSVILLE,TX,78521.0,31,2,TOSCAFINO,3001 PABLO KISEL BLVD STE N,...,Y,MB891096,2014-11-21T00:00:00.000,2016-10-31T00:00:00.000,20070,14995,5095,0,40160,NaN

In [8]:
revenues = df.to_dict('records')

In [9]:
len(revenues)

1000

In [11]:
df.to_json('./tx-revenues.json')

### Coercing Strings

Imagine that we want to write a method that extracts data from the strings.

In [15]:
df = pd.read_json('./tx-revenues.json')
restaurant_names = list(df.taxpayer_name)

In [18]:
restaurant_names[0:5]

['AIMBRIDGE CONCESSIONS, INC.',
 'SUPER CREAM LLC',
 "ANGEL'S ICEHOUSE, LLC",
 'CLARDY VENTURES II, LLC',
 'KOWALTEK, LLC']

For example, perhaps we can get some information based on the type of corporation of the restaurant.  Perhaps we could use it as a proxy for the size of the restaurant, or whether or not it is a chain.

Let's try to explore some string methods that can extract information about the company type.

In [22]:
first_restaurant = restaurant_names[0]

### Limiting Our String

The first thing to realize is that we can select characters from a string the same way that we would from a list.

In [25]:
first_restaurant

'AIMBRIDGE CONCESSIONS, INC.'

In [26]:
first_restaurant[0]

'A'

So for example, if we want to select just the last five characters from a string, we can do so with the following:

In [27]:
first_restaurant[-5:]

' INC.'

Practice selecting the just the first ten characters from a our string.

In [32]:
first_restaurant = 'AIMBRIDGE CONCESSIONS, INC.'
first_restaurant
# 'AIMBRIDGE '

'AIMBRIDGE CONCESSIONS, INC.'

Now practice selecting the last 10 characters from our string.

In [1]:
first_restaurant = 'AIMBRIDGE CONCESSIONS, INC.'
first_restaurant
# 'IONS, INC.'

'AIMBRIDGE CONCESSIONS, INC.'

### Find and Split

Of course it would be nice if we could detect if certain characters were in the string, and then select those characters.  Well here's one way we could do this.

In [36]:
first_restaurant = 'AIMBRIDGE CONCESSIONS, INC.'
first_restaurant.find('INC')

23

We can see that the `find` method returns the index of the start of our matching string.

In [37]:
first_restaurant[23]

'I'

So now let's write a method where we can pass through a string, and then just select the characters from `LLC` on.

In [2]:
first_restaurant = 'SUPER CREAM LLC'

def select_characters(string):
    pass

In [56]:
first_restaurant = 'SUPER CREAM LLC'
select_characters(first_restaurant)
# 'LLC'

'LLC'

In [55]:
second_restaurant = "ANGEL'S ICEHOUSE, LLC"
select_characters(second_restaurant)

'LLC'

### Concatenating Strings

Finally, Python has methods that allow us to create new strings programatically.  Let's look at the format method.

In [5]:
"Please try the {}.".format("chicken")

'Please try the chicken.'

> So we pass through the string to format, and then the `{}` indicates the location of the argument.

It also works with multiple arguments.

In [7]:
"Please try the {} and {}.".format("chicken", "broccoli")

'Please try the chicken and broccoli.'

Or keyword arguments.

In [9]:
"Please try the {side} and {main}.".format(main = "chicken", side = "broccoli")

'Please try the broccoli and chicken.'

An alternative to the format method is the `f` string.

In [12]:
side = 'broccoli'
main = 'turkey'
f'hello {side} and {main}!'

'hello broccoli and turkey!'

> Take some time to try them both out below.

### Summary

In this lesson, we took a deeper dive into how to work with strings.  We saw that we can select characters from a string with the bracket accessors, the same way that we would from a list.

In [72]:
"angel's icehouse, llc"[-3:]

'llc'

Then we saw that we can find the index that matches a string.

In [73]:
"angel's icehouse, llc".find('llc')

18

And that we can divide our string into different elements of a list with the `split` method.

In [74]:
"angel's icehouse, llc".split(', ')

["angel's icehouse", 'llc']

And select elements of the returned list.

In [77]:
"angel's icehouse, llc".split(', ')[-1]

'llc'